@{
    ViewData["Title"] = "About";
}
<div>
    <h1>@ViewData["Title"]</h1>

    <h3>We at Starch Wallpapers believe that everyone has the right to a beautiful desktop wallpaper</h3>
    <p>On our website you can find a plethora of high quality professional wallpapers, both free and paid. Besides that you will find Featured Wallpapers from Bing and NASA, in the form of their respective Images of the Day.</p>
    <p>Interested in selling your professional images on Starch Wallpapers? Contact us at starch@wallpapers.com!</p>
</div>
