<h2>Type in your information: </h2>

<form method="post">
    <label> Product Name: </label>
    <br />
    <input type="text" name="Name" />
    <br />
    <label> Product Cost: </label>
    <br />
    <input type="text" name="Cost" />
    <br />
    <input type="submit" value="Add Product" />
</form>