@{
    ViewData["Title"] = "Submit Wallpapers";
}
<div>
    <h1>@ViewData["Title"]</h1>
    <h3>Submitting requires admin privileges</h3>
    <h2>Type in your information: </h2>
    <form method="post">
        <label> Wallpaper Title: </label>
        <br />
        <input type="text" name="Item" style="width:120px;" />
        <br />
        <label> Wallpaper Cost (0 = Free): </label>
        <br />
        <input type="text" name="Cost" style="width:120px;" />
        <br />
        <label> Wallpaper URL: </label>
        <br />
        <input type="text" name="Img" style="width:120px;" />
        <br />
        <label> Wallpaper Tag: </label>
        <br />
        <label for="Tag"><input type="text" value="#" style="width:18px;" readonly></label><input type="text" id="Tag" name="Tag" style="width:102px;" />
        <br />
        <br />
        <input type="submit" value="Submit" />
    </form>
</div>