@model NASA
@{
    ViewData["Title"] = "Home Page";
}

<script src='~/js/fetchAPI.js'></script>

<div class="text-center">
    <img style="margin: 0 auto; user-select: none;" src="~/images/StarchWallpapers.svg" width="35%"/>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
