@model NASA

@{
    ViewData["Title"] = "Home Page";
}

<script src='~/js/fetchAPI.js'></script>

<div class="text-center">
    <img style="margin: 0 auto; user-select: none;" src="~/images/StarchWallpapers.svg" width="35%"/>
    <br />
    <br />
    <div class="container">
        <div class="vertcenter">
            <h1 class="slogan">Wallpapers that stick with you</h1>
        </div>
    </div>
</div>
