@{
    ViewData["Title"] = "Privacy Policy";
}

<div>
    <h1>Privacy Policy & Content Takedown Policy</h1>
    <p>Starch Wallpapers lays no claim to the intellectual property rights of content found on this website. Feel free to contact us if you suspect your intellectual property rights have been infringed.</p>
    <br />
    <p>Lorem ipsum</p>
</div>
