
@model List<Product>

<h1>Here are the available products: @Model.Count</h1>

<ul>
    @foreach (Product item in Model) {
        <li> 
            <p>@item.Item   @item.Cost</p> 
        </li>
    }
</ul>
